<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        <h1>This is a test sample</h1>
        <h3><%= 3*5 %></h3>

        <h1>The diceval is : <%= diceval %></h1>
        <% if(diceval==6) {%>
            <h2>Nice! Roll the dice again.</h2>
        <% } %>    
    ;Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati corporis quam quo earum dolore esse officiis voluptatem, dolorem libero, dicta cum. Eligendi ad dicta, assumenda architecto ea numquam dolor animi!

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, amet sunt sed dolorum ratione necessitatibus? Obcaecati eaque adipisci corrupti iure sunt, dignissimos labore similique blanditiis. Quam tenetur magnam unde vero.
    </p>
    <button onclick="window.location.href='http://localhost:3000'">click me!</button>
</body>
</html>